html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.cars-table th,
.cars-table td {
    border-right: 1px solid var(--bs-border-color);
}

.cars-table th,
.cars-table td {
    padding: 0.75rem 1rem;
    border: 1px solid #adb5bd;
    text-align: center;
    vertical-align: middle;
}

.cars-table th,
.cars-table .sort-header {
    white-space: nowrap;
}

.cars-table {
    font-size: 0.8rem;
}

.cars-table th,
.cars-table td {
    padding: 0.6rem 0.5rem;
}

.validation-summary-valid {
    display: none;
}